REPORT_OUTPUT_DIR=./out

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua_app_password
EMAIL_FROM_NAME=Seu Nome ou Sua Empresa
EMAIL_FROM=seuemail@gmail.com

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886