# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variáveis de ambiente
.env
clientes.csv

# Arquivos gerados
out/
logs/
reports/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/